<h1>Sign Up</h1>

<div class="row">
	<%= form_for @user do |f| %>
		
		<%= render "shared/form_errors", record: @user %>
		
		<%= f.label :name  %>
		<%= f.text_field :name %>
		
		<%= f.label :email  %>
		<%= f.text_field :email %>
		
		<%= f.label :password  %>
		<%= f.text_field :password %>
		
		<%= f.label :password_confirmation  %>
		<%= f.text_field :password_confirmation %>

		<div>
			<%= f.submit "Register!", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
